<div class="login-container">
    <img class="film" src="assets/images/film.png" alt="">
    <div class="logo">Rotten Potatoes</div>
    <div class="desc">
      Subjects to ecstatic children he. Could ye leave up as built match. 
      Dejection agreeable attention set suspected led offending. Admitting an performed supposing by. Garden agreed matter are should formed temper had.
      Full held gay now roof whom such next was. Ham pretty our people moment put excuse narrow. Spite mirth money six above get going great own. 
      Started now shortly had for assured hearing expense. Led juvenile his laughing speedily put pleasant relation offering.
    </div>
    <div class="login-form">
        <div class="form-group">
          <label for="uname">Username</label>
          <input
            type="text"
            name="uname"
            class="form-control"
            [(ngModel)]="username"
          />
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input
              type="password"
              name="pword"
              class="form-control"
              [(ngModel)]="password"
            />
          </div>
          <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
          </div>
        </div>
  </div>
